#Catch all rpa, rpyc, rpyb, and rpyms
*.rpa
*.rpy[cbm]
*.rpymc

#Catch any persist info
persistent
*.bak

#No compiled pycode or pycache
__pycache__
*.pyc

#Ide specific things
*.swp
**/*.vscode
tools/*
.idea/

#Various other clutter-y things
log.txt
traceback.txt
errors.txt
firstrun
log
*.log

#DDLC specific
*.chr

#OS Specific files
.DS_Store

#Toolsmenu things
zzzz*

# Build
cacert.pem
navigation.json
Monika_After_Story-[0-9]*.[0-9]*.[0-9]*-dists

# Development
.env
Monika After Story/game/Submods
Monika After Story/game/saves
venv/

# Other
*.disabled
Monika After Story/characters
